<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method="post">
  <input type="text" name="landmark[name]" placeholder="Name" id="landmark_name">

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
